<div class="container-fluid caixa-deleter d-flex justify-content-center align-items-center flex-column position-relative">
  <a (click)='voltar()' class="button-left"><i class="fas fa-arrow-left"></i></a>
  <img  class="position-absolute img-persona-1" src="https://i.imgur.com/mkFpuVq.png" alt="">
  <img  class="position-absolute img-persona-2" src="https://i.imgur.com/EUGMPeB.png" alt="">
  <img  class="position-absolute img-persona-3" src="https://i.imgur.com/WLJsx0X.png" alt="">
  <img  class="position-absolute img-persona-4" src="https://i.imgur.com/kH0YJYR.png" alt="">

  <div class="row m-2 caixa-text position-relative">
    <h3 class="quote">Você está prestes apagar essa Postagem!</h3>
    <h3 class="line1 position-absolute">Você está prestes apagar essa Postagem!</h3>
    <h3 class="line2 position-absolute">Você está prestes apagar essa Postagem</h3>
  </div>
  <div class="row post-content d-flex justify-content-center">
    <div class="col-md-4 post m-2">
      <div class="col-md-12 post-content-text d-flex flex-column mt-3">
        <h6>{{postagem.titulo}}</h6>
        <p>{{postagem.descricao}}</p>
        <a class="mb-1" href="{{postagem.liveLink}}">{{postagem.liveLink}}</a>
        <span class="mb-3">{{postagem.hashtag}}</span>
      </div>
    </div>
  </div>
  <!-- <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title m-0">{{postagem.titulo}}</h5>
          <small class="text-muted" >Tema: {{postagem.tema.descricao}}</small>
          <p class="card-text mt-3">{{postagem.descricao}}</p>
          <p class="card-text">
          <small  class="text-muted">{{postagem.dataPublicacao | date: 'dd/MM/yyyy'}} às {{postagem.dataPublicacao | date: 'HH:mm'}}</small></p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center ">
      <button (click)='voltar()' type="button" class="btn btn-1" routerLink='/inicio'>Cancelar</button>
      <button class="btn-2" (click)='apagar()'>Apagar</button>
    </div>
  </div>

</div>
