* {
  overflow: hidden;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #ffffff3a;
  animation: initial-animation .8s ease-in-out alternate;
}

.logo{
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 100;
  padding: 18px;
}

.vetor-top{
  position: absolute;
  top: 0;
  left: 0;
  animation: waves-animation 5s ease-in-out infinite;
  z-index: -1;
}

.vetor-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  animation: waves-animation-2  4s ease-in-out infinite;
  z-index: -1;
}

.vetor-1-bolha{
  position: absolute;
  right: 0;
  top: 0;
  animation: elemento-animacao-1 8s ease-in-out infinite;
  z-index: -1;  
}
.vetor-2-bolha{
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 120px;
  transform: rotate(45deg);
  animation: elemento-animacao-2 10s ease-in-out infinite;
  z-index: -100;
}

.vetor-3-bolha{
  position: absolute;
  right: 10%;
  top: 50%;
  width: 150px;
  animation: elemento-animacao-3 10s ease-in-out infinite;
  z-index: -1;
}

.vetor-4-bolha{
  position: absolute;
  left: 1%;
  bottom: 30%;
  width: 250px;
  animation: elemento-animacao-4 8s ease-in-out infinite;
  z-index: -100;
  transform: rotate(45deg);
}

img.vetor-1 {
  width: 700px;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  animation: waves-animation 5s ease-in-out infinite;
}

/* .vetor-2 {
  width: 300px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #6284FF;
  animation: animation-circlue-2 10s ease-in-out infinite;
} */

.top-descricao h2 {
  color: #7dc9bacb;
  font-size: 20pt;
  font-weight: 700;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais i {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.603);
  font-size: 24px;
  transition: .1s ease-in-out;
  padding: 5px;
}

.redes-sociais i:hover {
  color: #60dbc5;
  transform: scale(120%);
}

form {
  width: 800px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.cadastro {
  background-color: rgb(241, 241, 241);
  width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
}

.inputs i {
  opacity: 35%;
}

.input {
  width: 350px;
  height: 50px;
  border: none;
  margin-top: 10px;
  padding-left: 15px;
  position: relative;
}

.input input{
  width: 320px;
  height: 50px;
  border: none;
  padding-left: 15px;
  color: #60dbc5;
  transition: 50s ease-in-out;
}

.input input:focus{
  border-bottom: 1px solid #60dbc5;
  transform: translateY(-10%);
}

.section{
  width: 325px;
  height: 50px;
  border: none;
  margin-top: 10px;
  padding-left: 4px;
  position: relative;
  margin-right: 25px;
}

.section select{
  width: 320px;
  height: 50px;
  border: none;
  padding-left: 15px;
  margin-top: 0;
  color: #71EED0;
  background-color: rgba(255, 255, 255, 0);

}
.icons-left-1{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-2{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-3{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-4{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-5{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-6{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icons-left-7{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

select {
  width: 350px;
  height: 50px;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.buttons button {
  width: 140px;
  height: 50px;
  text-align: center;
  background-color: #3AB19B;
  border-radius: 20px;
  border: none;
}

.buttons button {
  color: white;
  transition: .20s ease-in-out all;
  text-decoration: none;
}

.buttons button:hover {
  letter-spacing: 1px;
}

.cartao-visita {
  width: 400px;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(45deg, #71EED0, rgba(94, 244, 136, 0.65));
  box-sizing: border-box;
  box-shadow: 10px 0px 35px rgba(0, 0, 0, 0.233);
}

.cartao-visita-texto {
  margin-top: 35%;
  padding: 10px;
  height: 300px;
  position: relative;
}

.cartao-visita-texto h1 {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 34px;
  margin-bottom: 18px;
}

.cartao-visita-texto p {
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  font-size: 19px;
  font-weight: 300;
}

.button-cartao button{
  width: 140px;
  text-align: center;
  padding: 10px;
  background: none;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.41);
  position: absolute;
  top: 57%;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

button {
  transition: .20s ease-in-out;
  text-decoration: none;
  color: white;
}

.button-cartao button:hover {
  letter-spacing: 1px;
}

.elemento-1 {
  width: 150px;
  height: 70px;
  background: linear-gradient(280deg, #c9c9c90e, #edecec38);
  position: absolute;
  top: 35px;
  left: 25px;
  transform: rotate(50deg);
  animation: elemento-animacao-1 15s ease-in-out infinite;
}

.elemento-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(280deg, #ffffff11, #edecec0e);
  position: absolute;
  top: 60%;
  right: 25px;
  transform: rotate(40deg);
  animation: elemento-animacao-2 8s ease-in-out infinite;
}

.elemento-3 {
  width: 100px;
  height: 50px;
  background: linear-gradient(45deg, #ffffff2d, #8585850e);
  position: absolute;
  top: 35px;
  right: 25px;
  transform: rotate(-40deg);
  animation: elemento-animacao-3 15s ease-in-out infinite;
}

.elemento-4 {
  width: 50px;
  height: 100px;
  background: linear-gradient(45deg, #f3f3f32f, #8585850e);
  position: absolute;
  bottom: 10%;
  left: 25%;
  transform: rotate(-180deg);
  animation: elemento-animacao-3 15s ease-in-out infinite;
}



form select {
  border: none;
  color: rgba(0, 0, 0, 0.644);
  padding-left: 12px;
  margin-top: 5px;
  margin-top: 10px;
  height: 50px;

}

form select:focus {
  outline: none;

}

@keyframes animation-circlue {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animation-circlue-2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes elemento-animacao-1 {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translate(-20%, 20%);
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes elemento-animacao-2 {
  0% {
    transform: translate3d(0)
  }

  50% {
    transform: rotate(100deg);
  }

  100% {
    transform: translate3d(0)
  }
}

@keyframes elemento-animacao-3 {
  0% {
    transform: translate3d(0)
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate3d(0)
  }
}

@keyframes elemento-animacao-4 {
  0% {
    transform: translate3d(0)
  }

  50% {
    transform: rotate(20deg);
    transform: translateY(20%);
  }

  100% {
    transform: translate3d(0)
  }
}

@keyframes waves-animation {
  0%{
    transform: scaleX(100%);
  }
  50%{
    transform: scaleX(150%);
  }
  100%{
    transform: scale(100%);
  }
}

@keyframes waves-animation-2 {
  0%{
    transform: scaleX(100%);
  }
  50%{
    transform: scale(150%);
  }
  100%{
    transform: scaleX(100%);
  }
}

@keyframes initial-animation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}