<div class="container-fluid conteudo">
  <form action="">
    <section class="cartao-visita ">
      <div class="elemento-1"></div>
      <div class="elemento-2"></div>
      <div class="elemento-3"></div>
      <div class="elemento-4"></div>
      <div class="row ml-0 mr-0 cartao-visita-texto">
        <div class="col-md-12">
          <h1>Hello, Friend!</h1>
          <p>Novos rumos, novas experiências e um único objetivo!</p>
        </div>
        <div class="button-cartao">
          <a href="">Acessar</a>
        </div>
      </div>
    </section>
    <div class="cadastro ">
      <div class="inputs ">
        <div class="top-descricao">
          <div class="row">
            <div class="col-12 texto">
              <h2>Place2Getter</h2>
            </div>
          </div>
        </div>
        <div class="input-nome">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Informe o seu nome">
        </div>
        <div class="input-email ">
          <i class="far fa-envelope"></i>
          <input type="text" placeholder="Email">
        </div>
        <div class="input-senha">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Senha">
          <a href=""><i class="far fa-eye"></i></a>
        </div>
        <div class="input-confirma-senha">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Confima Senha">
          <a href=""><i class="far fa-eye"></i></a>
        </div>
        <i class="far fa-check-square"></i>

        <select class="input-tipo-usuario ">
          <input type="select" placeholder="Tipo Usuário">
          <option value="">Qual é seu tipo de usuário?</option>
          <option value="mentor">Mentor(a)</option>
          <option value="aluno">Aluno(a)</option>
        </select>

        <div class="buttons">
          <a routerLink='/logar' class="button">Cadastrar</a>
        </div>
      </div>
    </div>
  </form>
</div>
