a .button-edit {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.header{
  background-color: rgb(19 19 19);
}
.header i {
  color: white;
}


.header button {
  /* border: 1px solid rgba(255, 255, 255, 0); */
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.header button:hover {
  background: none;
  border-bottom: 1px solid #8CF7B2;
  color: rgb(255, 255, 255);
  border: none;
}

img.img-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header h2 {
  color: rgb(114, 55, 252);
  font-size: 18px;
  margin-left: 14px;
}