<nav class="navbar container-fluid navbar-expand-lg navbar-dark  header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <div class="logo ml-5">
        <a class="logo" routerLink='/home'><img src="https://i.imgur.com/SKyw9eR.png" alt=""></a>
      </div>
    </ul>
    <div class="profile d-flex align-items-center mr-5">
      
      <!-- <h2 class="mr-4">{{nome}}</h2> -->
      <div class="caixa-imagem position-relative ">
        <img src="{{foto}}" class="img-profile img-fluid">
        <div class="icon-online position-absolute"></div>
      </div>
    </div>

    <!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0  btn-exit" type="submit" (click)='sair()'>Sair<i
          class="fas fa-sign-out-alt ml-2"></i></button>
    </form> -->
  </div>
</nav>
