<div class="container-fluid contato borda m-0 p-0 d-flex justify-content-center align-items-center">
  <div class="row borda caixa-contato">
    <div class="col-md-6 inputs borda">
      <div class="row borda">
        <div class="col-md-12">
          <h4 class="text-center">Place2Getter</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 social-midias borda">
      <div class="row borda mt-5">
        <div class="col-md-12">
          <h4 class="text-input-contato">Contato</h4>
        </div>
      </div>
      <div class="circlue-one"></div>
      <div class="circlue-two"></div>
    </div>
  </div>
</div>
