<div class="container-fluid conteudo">
  <img class="vetor-1" src="https://i.imgur.com/1gMNFmZ.png" alt="">
  <img class="vetor-2" src="https://i.imgur.com/juEgnty.png" alt="">
  <form action="" class="">
    <div class="login">
      <div class="top-descricao">
        <div class="row">
          <div class="col-12 texto">
            <h2>Place2Getter</h2>
          </div>
        </div>
      </div>
      <div class="inputs ">
        <div class="input-email ">
          <i class="far fa-envelope"></i>
          <input name="email" [(ngModel)]='usuarioLogin.usuario' type="text" placeholder="Email">
        </div>
        <div class="input-senha">
          <i class="fas fa-lock"></i>
          <input name="senha" [(ngModel)]='usuarioLogin.senha' type="password" placeholder="Senha">
        </div>
      </div>
      <div class="buttons">
        <a (click)='acessar()'>Acessar</a>
      </div>
    </div>
  </form>
  <section class="cartao-visita d-none d-sm-block">
    <div class="row ml-0 mr-0 cartao-visita-texto">
      <div class="col-md-12">
        <h1>Welcome Back!</h1>
        <p> Colecione momentos e viva novas experiências.</p>
      </div>
      <div class="button-cartao">
        <a routerLink='/cadastrar'>Cadastrar</a>
        </div>
    </div>
  </section>
</div>
