<div class="container-fluid position-relative edit">
  <img class="position-absolute waves-1 d-none d-md-block" src="https://i.imgur.com/HKGQmPA.png" alt="">
  <img class="position-absolute waves-2 d-none d-md-block" src="https://i.imgur.com/lQE1Yzl.png" alt="">

  <div class="img-personas">
    <img class="img-blob-2 position-absolute" src="https://i.imgur.com/ukUmwhN.png" alt="">
    <img class="img-blob-4 position-absolute" src="https://i.imgur.com/pmozOFx.png" alt="">
    <img class="img-blob-5 position-absolute" src="https://i.imgur.com/xj9wn0B.png" alt="">
    <img class="img-blob-6 position-absolute" src="https://i.imgur.com/WaEB5Vi.png" alt="">
    <img class="img-blob-7 position-absolute" src="https://i.imgur.com/gv9CB1l.png" alt="">
  </div>
  <div class="row d-flex caixa-edit justify-content-center align-items-center ">
    <div class="col-md-6 caixa-input  mt-5  m-3 d-flex align-items-center justify-content-center ">
      <div class="col-md-11  mt-3">
        <div class="img-edit d-flex justify-content-center">
          <img src="https://i.imgur.com/7Y4FG5P.png" alt="">
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome"
            placeholder="Seu Nome">
        </div>

        <div class="form-group">
          <label for="usuario">E-mail</label>
          <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuario" id="usuario"
            placeholder="Atualize o seu e-mail">
        </div>

        <div class="form-group">
          <label for="foto">Link da Foto</label>
          <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto"
            placeholder="Insira o link da sua nova foto">
        </div>


        <div class="form-group">
          <label for="senha">Nova Senha</label>
          <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
            placeholder="Informe a sua nova senha">
        </div>

        <div class="form-group">
          <label for="confirmSenha">Confirmar Senha</label>
          <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
            placeholder="Confirme a sua nova senha">
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Usuário</label>
          <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
            <option>Selecione um tipo de usúario:</option>
            <option value="normal">Aluno</option>
            <option value="mentor">Mentor</option>
          </select>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="button-edit" (click)='atualizar()'>Salvar alterações</button>
        </div>
      </div>
    </div>
  </div>
</div>
