<div class="container-fluid m-0 p-0">
  <div class="banner">
    <img
      src="https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="">
  </div>
  <div class="row m-0 p-0 caixa-perfil borda d-flex justify-content-center">
    <div class="col-5 perfil  d-flex align-items-center flex-column">
      <img class="position-relative borda foto-perfil" src="{{usuario.foto}}" alt="">
      <h2>{{usuario.nome}}</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
    </div>
  </div>
</div>

<!-- <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
  <div class="card-columns">
    <div class="card" style="width: 18rem;" *ngFor='let item of usuario.postagem'>
      <div class="card-body">
        <h5 class="card-title">{{item.titulo}}</h5>
        <p class="">{{item.tema.descricao}}</p>
        <p class="card-text">{{item.descricao}}</p>
        <p class="">{{item.dataPublicacao | date: 'dd/MM/yyyy'}} às {{item.dataPublicacao | date: 'HH:mm'}}</p>        
      </div>
    </div>
  </div>
</div> -->
