<div class="container-fluid m-0 p-0 ">
  <section class="banner container-fluid">
    <div class="row" >
      <div class="col-md-7 conteudo" #banner>
        <h2 class="descricaoBanner">Place2Getter</h2>
        <h4 class="textoBanner">Juntando pessoas
          experiências e histórias.</h4>
      </div>
    </div>
    <div class="square" #divisorBanner>
      <img src="https://i.imgur.com/thgnpzw.png" class="circleBanner" data-rellax-speed="-5" alt="">
    </div>
    <div class="circlue-1 rellax" data-rellax-speed="2"></div>
    <div class="circlue-2"></div>
    <div class="circlue-3"></div>
    <div class="circlue-4"></div>
    <img class="icon-mouse d-none d-sm-block" src="../../assets/Icons/mouse.png" alt="">
  </section>
  <div class="container-fluid content-1">
    <section class="">
      <img class="vetor-1 img-fluid" src="https://i.imgur.com/7lnMEhN.png" alt="">
      <img class="vetor-2 img-fluid" src="https://i.imgur.com/FAfh48o.png" alt="">

      <img class="bolha-persona-1 rellax" data-rellax-speed="1" data-rellax-percentage="0.45" data-rellax-zindex="-5"
        src="https://i.imgur.com/KFvlVP3.png" alt="">
      <img class="bolha-persona-2 rellax" data-rellax-speed="1" src="https://i.imgur.com/FL8CRBZ.png" alt="">
      <img class="bolha-persona-3 rellax" data-rellax-speed="2" data-rellax-percentage="0.30"
        src="https://i.imgur.com/XMa9sAj.png" alt="">
      <img class="bolha-persona-4 rellax" data-rellax-speed="2" data-rellax-percentage="1"
        src="https://i.imgur.com/Ddu8hoB.png" alt="">
      <img class="line-style img-fluid" src="https://i.imgur.com/hkacIZe.png" alt="">
      <img class="vetor-3 rellax" data-rellax-speed="1" src="https://i.imgur.com/O4VxOUA.png" alt="">
      <div class="row">
        <div class="col-md-12 texto-persona">
          <h3 class="">Compartilhe com milhões
            de jovens seus conhecimentos
          </h3>
        </div>
      </div>
    </section>
  </div>
  <div class="conatiner-fluid content-2 ">
    <div class="row titulo-mentoria ">
      <div class="col-md-6 ">
        <h2>Benefícios da
          Mentoria</h2>
      </div>
    </div>
    <div class="row texto-mentoria  ">
      <div class="col-md-6 ">
        <h4><span> " </span> Entre os benefícios da mentoria, estão a expansão da rede de contatos, a saída da zona de
          conforto
          e o ganho de novas perspectivas.
          Ele também permite que jovens aprenda por meio das vivências de outros profissionais, que já
          trilharam um caminho cheio de aprendizados ao longo da carreira.<span> " </span> </h4>
      </div>
    </div>
    <div class="img-mentor">
      <img src="https://i.imgur.com/k6hF4WO.png" alt="">
      <img src="https://i.imgur.com/5Pvmcxf.png" alt="">
    </div>
    <div class="caixa-cor">
      <img src="https://i.imgur.com/Lt0mLyj.png" alt="">
    </div>
  </div>
  <div class="categorias">
    <!-- <a class="link-categoria " href="">Explore novos caminhos</a> -->
    <h4>Explore novos caminhos</h4>
    <div class="row m-0 p-0 categoria-itens ">
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/vqkYemi.png" alt="">
          <h3>Design</h3>
        </a>
      </div>
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/c5fWK2o.png" alt="">
          <h3>Culinária</h3>
        </a>

      </div>
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/OvLZf4a.png" alt="">
          <h3>Fotográfia</h3>
        </a>
      </div>
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/pOywQZS.png" alt="">
          <h3>Comunicação</h3>
        </a>

      </div>
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/AfOVVeN.png" alt="">
          <h3>Programação</h3>
        </a>

      </div>
      <div class="col-md-2">
        <a href=""><img src="https://i.imgur.com/VJazxZT.png" alt="">
          <h3>Estética</h3>
        </a>
      </div>
    </div>

    <div class="row m-0 p-0 texto-categoria">
      <div class="circlue-categoria"></div>
      <div class="circlue-categoria-2"></div>
      <div class="col-md-6 ml-5">
        <h2>Redescubra-se</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, praesentium. Sequi magnam minus
          accusantium quasi aperiam totam consectetur corporis vero!</p>
      </div>
    </div>
  </div>
</div>





















<!-- 
<script type="text/javascript" src="../../../node_modules/rellax/rellax.js"></script>
<script>
    var rellax = new Rellax('.rellax', {
    });
</script> -->
