<header class="header" #header>
  <div class="logo">
    <a href=""><img src="https://i.imgur.com/SKyw9eR.png" alt=""></a>
  </div>
  <div class="links ">
    <a href="#mentores">Seja um mentor</a>
    <a href="#desenvolvedores">Quem somos</a>
    <a routerLink='/contato'>Contato</a>
  </div>
  <div class="register ">
    <a routerLink='/logar' class="button-1">ENTRAR</a>
    <a routerLink='/cadastrar' href="" class="button-2">REGISTRAR</a>
  </div>
  <div class="toggler">
    <div class="linha-1"></div>
    <div class="linha-2"></div>
    <div class="linha-3"></div>
  </div>
</header>

<div class="container-fluid m-0 p-0 main">
  <section class="banner container-fluid">
    <div class="row">
      <div class="col-md-7 col-sm-12 conteudo" #banner>
        <h2>Place2Getter</h2>
        <h4>Conectando pessoas, histórias e experiências.</h4>
      </div>
    </div>
    <div class="square" #divisorBanner>
      <img src="https://i.imgur.com/thgnpzw.png" class="circleBanner d-none d-md-block" data-rellax-speed="-5" alt="">
    </div>
    <div class="circlue-1 rellax d-none d-sm-block " data-rellax-speed="2"></div>
    <div class="circlue-2 d-none d-sm-block "></div>
    <div class="circlue-3 d-sm-block"></div>
    <div class="circlue-4 d-sm-block"></div>
    <img class="icon-mouse d-none d-sm-block" src="../../assets/Icons/mouse.png" alt="">
  </section>
  <div class="container-fluid content-1">
    <section>
      <img class="vetor-1 img-fluid" src="https://i.imgur.com/7lnMEhN.png" alt="">
      <img class="vetor-2 img-fluid" src="https://i.imgur.com/FAfh48o.png" alt="">

      <img class="bolha-persona-1 rellax" data-rellax-speed="1" data-rellax-percentage="0.45" data-rellax-zindex="-5"
        src="https://i.imgur.com/KFvlVP3.png" alt="">
      <img class="bolha-persona-2 rellax" data-rellax-speed="1" src="https://i.imgur.com/FL8CRBZ.png" alt="">
      <img class="bolha-persona-3 rellax" data-rellax-speed="2" data-rellax-percentage="0.30"
        src="https://i.imgur.com/XMa9sAj.png" alt="">
      <img class="bolha-persona-4 rellax" data-rellax-speed="2" data-rellax-percentage="1"
        src="https://i.imgur.com/Ddu8hoB.png" alt="">
      <img class="line-style img-fluid" src="https://i.imgur.com/hkacIZe.png" alt="">
      <img class="vetor-3 rellax" data-rellax-speed="1" src="https://i.imgur.com/O4VxOUA.png" alt="">
      <div class="row ">
        <div class="col-md-12 texto-persona ">
          <h3>Compartilhe seu conhecimento com milhões de jovens
          </h3>
        </div>
      </div>
    </section>
  </div>
  <div class="conatiner-fluid content-2" id='mentores'>
    <div class="row titulo-mentoria ">
      <div class="col-md-6 ">
        <h2>Benefícios da
          Mentoria</h2>
      </div>
    </div>
    <div class="row texto-mentoria  ">
      <div class="col-md-6 ">
        <h4><span> " </span> Uma oportunidade para jovens aprenderem por meio de caminhos trilhados por profissionais de
          referência em suas carreiras. Ela está vinculada com a expansão da rede de contatos, a saída da zona de
          conforto e o aumento das perspectivas!<span> " </span> </h4>
      </div>
    </div>
    <div class="img-mentor">
      <img class="img-mentor-1" src="https://i.imgur.com/k6hF4WO.png" alt="">
      <img class="img-mentor-2" src="https://i.imgur.com/5Pvmcxf.png" alt="">
    </div>
    <div class="caixa-cor">
      <img src="https://i.imgur.com/Lt0mLyj.png" alt="">
    </div>
  </div>
  <div class="categorias mt-5">
    <!-- <a class="link-categoria " href="">Explore novos caminhos</a> -->
    <h4 class="texto-categoria">Explore novos caminhos</h4>
    <div class="row m-0 p-0 categoria-itens ">
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item ">
        <a href=""><img src="https://i.imgur.com/vqkYemi.png" alt="">
        </a>
        <h3>Design</h3>
      </div>
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item">
        <a href=""><img src="https://i.imgur.com/c5fWK2o.png" alt="">
          <h3>Culinária</h3>
        </a>

      </div>
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item">
        <a href=""><img src="https://i.imgur.com/OvLZf4a.png" alt="">
          <h3>Fotografia</h3>
        </a>
      </div>
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item">
        <a href=""><img src="https://i.imgur.com/pOywQZS.png" alt="">
          <h3>Comunicação</h3>
        </a>

      </div>
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item">
        <a href=""><img src="https://i.imgur.com/AfOVVeN.png" alt="">
          <h3>Programação</h3>
        </a>

      </div>
      <div class="col-md-2 col-sm-12 d-flex align-items-center flex-column item">
        <a href=""><img src="https://i.imgur.com/VJazxZT.png" alt="">
          <h3>Estética</h3>
        </a>
      </div>
    </div>

    <div class="row m-0 p-0 texto-categoria">
      <div class="circlue-categoria"></div>
      <div class="circlue-categoria-2"></div>
      <div class="col-md-6 ml-5 texto-categoria-2">
        <h2 class='titulo-categoria'>Redescubra-se</h2>
        <p class="paragrafo-padrao">Através da Place2Getter você contará com diversos conteúdos que irão te inspirar e
          incentivar
          na transformação do seu futuro profissional.</p>
      </div>
    </div>
  </div>

  <section class="mentores mb-5 mt-5">
    <div class="circlue-mentor"></div>
    <div class="row m-0 p-0 ">
      <div class="col-md-6 m-0 p-0 section">
        <img class="img-fluid mentores-img" src="https://i.imgur.com/um19R8G.jpg" alt="">
      </div>
      <div class="col-md-6 m-0 p-0  texto-mentoria-2 ">
        <h2 class="titulo-mentoria-2">Compartilhando
          experiências </h2>
        <div class="row  m-0 p-0-mentoria">
          <div class="col-md-10">
            <p class="paragrafro-mentoria"> Compartilhe suas experiências com os jovens que estão em busca de ingressar,
              mudar e
              recomeçar suas carreiras no mercado de trabalho.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-impacto position-relative">
    <img class="elemento-style position-absolute" src="https://i.imgur.com/9dxlp1Z.png" alt="">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 ml-5 d-flex pt-5 justify-content-center position-relative">
          <img class="impacto-img img-fluid" src="https://i.imgur.com/wwfP47W.jpg" alt="">
          <div class="caixa-persona box-color position-absolute"></div>
        </div>
        <div class="col-md-8">
          <h2 class="titulo-impacto">Repassando suas
            vivências.</h2>
          <div class="row mt-5 pt-5 d-flex justify-content-around">
            <div class="col-md-5 d-flex justify-content-center position-relative">
              <img class="impacto-img img-fluid " src="https://i.imgur.com/WpTpez9.jpg" alt="">
              <div class="caixa-persona-2 box-color position-absolute"></div>
            </div>
            <div class="col-md-6 paragrafo-impacto">
              <img class="position-absolute aspas" src="https://i.imgur.com/mPpN6Jp.png" alt="">
              <p>Jovens que desejam adquirir <span>habilidades</span> e conhecimentos nas mais diversas áreas através da
                nossa rede social.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="desenvolvedores" id="desenvolvedores">
    <div class="row m-0 p-0  d-flex justify-content-center">
      <div class="col-md-6  d-flex justify-content-center">
        <h4>time de desenvolvedores</h4>
      </div>
    </div>
    <div class="row m-0 p-0 ">
      <div class="col-md-3  d-flex align-items-center flex-column">
        <!-- <img src="https://i.imgur.com/g6JNNuB.png" alt=""> -->
        <h3>Fernando Merim</h3>
        <small>Dev. Full Stack Java Jr.</small>
        <p>Formado em Ciências Contábeis e atualmente cursando Sistemas de Informação. Ser referência, fazer a diferença
          e simplificar a vida das pessoas através da tecnologia são os meus objetivos. </p>

      </div>

      <div class="col-md-3  d-flex align-items-center flex-column">
        <img src="https://i.imgur.com/7Y4FG5P.png" alt="">
        <h3>Gabriel Cassimiro</h3>
        <small>Dev. Full Stack Java Jr.</small>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown </p>

      </div>

      <div class="col-md-3  d-flex align-items-center flex-column">
        <img src="https://i.imgur.com/7Y4FG5P.png" alt="">
        <h3>Lucas Cruz</h3>
        <small>Dev. Full Stack Java Jr.</small>
        <p>Estudante de Análise e desenvolvimento de sistemas apaixonado por processos criativos, movido por idéias
          inovadoras e tudo que a tecnologia pode viabilizar </p>

      </div>

      <div class="col-md-3  d-flex align-items-center flex-column">
        <img src="https://i.imgur.com/7Y4FG5P.png" alt="">
        <h3>Luis Henrique de Sousa </h3>
        <small>Dev. Full Stack Java Jr.</small>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown </p>

      </div>


    </div>
  </section>
</div>
<footer class="position-relative footer">
  <div class="row m-0 p-0  d-flex justify-content-center">
    <div class="col-md-1  d-flex justify-content-center footer-logo">
      <img src="https://i.imgur.com/SKyw9eR.png" alt="">
    </div>
  </div>
</footer>




















<!-- 
<script type="text/javascript" src="../../../node_modules/rellax/rellax.js"></script>
<script>
    var rellax = new Rellax('.rellax', {
    });
</script> -->
