<div class="container-fluid content">
  <div class="row">
    <!-- ----------------------------------------------------------------------- -->
    <!--                         INICIO DA NAV ESQUERDA                          -->
    <!-- ----------------------------------------------------------------------- -->


    <div class="col-md-3 nav-left  p-3 d-none d-md-block">
      <nav class="row d-flex flex-column align-items-center pl-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <div class="col-md-9 m-0 p-0">
            <div class="button-nav-left button-1 d-flex justify-content-center align-items-center">
              <div class="col-md-2  m-0 p-0 pl-4 d-flex justify-content-center ">
                <i class="fas fa-globe-americas"></i>
              </div>
              <div class="col-md-10">
                <a id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab"
                  aria-controls="nav-todasPostagens" aria-selected="true">Todas as
                  Postagens</a>
              </div>
            </div>
          </div>
          <div class="col-md-9  m-0 p-0">
            <div class="button-nav-left d-flex justify-content-center align-items-center">
              <div class="col-md-2  m-0 p-0 pl-4 d-flex justify-content-center ">
                <i class="fas fa-list"></i>
              </div>
              <div class="col-md-10 ">
                <a (click)='findByIdUsuario()' id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens"
                  role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
              </div>
            </div>
          </div>
          <div class="col-md-9  m-0 p-0">
            <div class="button-nav-left d-flex justify-content-center align-items-center">
              <div class="col-md-2  m-0 p-0 pl-4 d-flex justify-content-center ">
                <i class="fas fa-users"></i>
              </div>
              <div class="col-md-10 ">
                <a href="">Grupos</a>
              </div>
            </div>
          </div>
          <div class="col-md-9 m-0 p-0">
            <div class="button-nav-left button-altertive d-flex justify-content-center align-items-center">
              <div class="col-md-10 ">
                <a href="">Veja mais</a>
              </div>
            </div>
          </div>
          <div class="caixa-left ml-2"></div>
        </div>
      </nav>

      <div class="last-post" *ngIf="verificacaoPerfil();">
        <div class="row  mt-4">
          <div class="col-md-12 p-3 ">
            <h5>Seus últimos posts</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center box-last-post"
          *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
          <div class="box-last-post d-flex ">
            <div class="col-md-12  d-flex  justify-content-start align-items-center ">
              <h6>{{item.titulo}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="last-post" *ngIf="verificacaoPerfil() == false;">
        <div class="row  mt-4">
          <div class="col-md-12 p-3 ">
            <h5>Top mentorias</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center box-last-post"
          *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
          <div class="box-last-post d-flex ">
            <div class="col-md-12  d-flex  justify-content-start align-items-center ">
              <h6>{{item.titulo}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                     FIM DA NAV DA LATERAL ESQUERDA                      -->
    <!-- ----------------------------------------------------------------------- -->



    <!-- ----------------------------------------------------------------------- -->
    <!--                     INICIO SECTION DE POST                              -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="col-md-6 post-center position-relative">
      <div class="row">
        <div class="col-md-12 perfil-post">
          <img src="{{foto}}" alt="">
        </div>
        <div class="button" *ngIf='verificacaoPerfil()'>
          <button class="button-new-post" data-toggle="modal" data-target="#novaPostagem">Nova Mentoria</button>
          <div class="button-hover-1"></div>
          <div class="button-hover-2"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <!-- <h3 class="text-center">Lucas Cruz</h3> -->
          <div class="input-busca position-relative mt-3">
            <input type="text" class="form-control" name="pesquisa" placeholder="Faça uma busca"
           [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()'>
            <i class="fas fa-search position-absolute"></i>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                    INICIO DO COMPONENTE DE POSTAGEM                     -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="tab-content mt-4" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
          aria-labelledby="nav-todasPostagens-tab">
          <div class="row mt-2 post mb-4" *ngFor="let item of listaPostagens | orderBy : key : reverse">
            <div class="col-md-12 ">
              <div class="row mt-2">
                <div class="col-md-12  post-profile m-0 p-0 d-flex justify-content-around">
                  <div class="col-md-1  post-profile-picture p-0 d-flex justify-content-center m-1">
                    <img src="{{item.usuario.foto}}" alt="">
                  </div>
                  <div class="col-md-9  d-flex justify-content-center flex-column pl-2">
                    <div class="row">
                      <h6 class="m-0">{{item.usuario.nome}}</h6>
                    </div>
                    <div class="row">
                      <small>{{item.dataPublicacao | date: 'MMMM  d /y'}} ás {{item.dataPublicacao | date: 'HH:MM'}}</small>
                    </div>
                  </div>
                  <div class="col-md-1  post-profile-config d-flex flex-column align-items-end ml-3 mt-2">
                    <div class="div button-config"></div>
                    <div class="div button-config"></div>
                    <div class="div button-config"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row post-content m-2 ">
              <div class="col-md-12 post-content-text">
                <h6>{{item.titulo}}</h6>
                <p>{{item.descricao}}</p>
                <span>#Mysql #SqlServer</span>
              </div>
              <!--Curti e Descutir-->
            <p class="card-text">
                <small class="text-muter">

            <button class="btn" (click)='getByIdPostagem(postagem.id)' (click)='descurtida(postagem.id)'><i class="fa fa-thumbs-down"
              aria-hidden="true"></i>
            </button>
            Curtidas: {{postagem.curtir}}

            <button class="btn" (click)='getByIdPostagem(postagem.id)' (click)='curtida(postagem.id)'>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>

                </small>
              </p>

              <!--Fim-->
              <div class="col-md-12 post-content-image ">
                <img src="{{item.liveLink}}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
          <div class="row mt-2 post borda" *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
            <div class="col-md-12 ">
              <div class="row mt-2">
                <div class="col-md-12  post-profile m-0 p-0 d-flex justify-content-around">
                  <div class="col-md-1  post-profile-picture p-0 d-flex justify-content-center m-1">
                    <img src="{{foto}}" alt="">
                  </div>
                  <div class="col-md-9  d-flex justify-content-center flex-column pl-2">
                    <div class="row">
                      <h6 class="m-0">{{nomeUsuario}}</h6>
                    </div>
                    <div class="row">
                      <small>{{item.dataPublicacao}}</small>
                    </div>


                  </div>
                  <div class="col-md-1  post-profile-config d-flex flex-column align-items-end ml-3 mt-2">
                    <div class="div button-config"></div>
                    <div class="div button-config"></div>
                    <div class="div button-config"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row post-content m-2 ">
              <div class="col-md-12 post-content-text">
                <h6>{{item.titulo}}</h6>
                <p>{{item.descricao}}</p>
                <span>#Mysql #SqlServer</span>

              </div>
              <div class="col-md-12 post-content-image ">
                <img src="{{item.liveLink}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->
      <!--                    FIM DO COMPONENTE DE POSTAGEM                        -->
      <!-- ----------------------------------------------------------------------- -->
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                       FIM DA SECTION DE POSTAGEM                        -->
    <!-- ----------------------------------------------------------------------- -->



    <!-- ----------------------------------------------------------------------- -->
    <!--                     INICIO DA NAV LATEREAL DIREIRA                      -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="col-md-3 nav-right p-3 d-none d-md-block">
      <div class="row events">
        <div class="col-md-12">
          <h5>Próximos eventos</h5>
        </div>
        <div class="col-md-12 event-item  d-flex justify-content-between mt-2 mb-2">
          <div class="col-md-4 m-0 p-0  d-flex justify-content-center">
            <img src="https://i.imgur.com/reyl1z6.png" alt="">
          </div>
          <div class="col-md-8  m-0 p-0 mt-2 ">
            <h6 class="">Marketing Digital</h6>
            <i class="fas fa-suitcase mr-2"></i>
            <span class="">Luana Dias</span>
            <div class="col-md-12 d-flex justify-content-end ">
              <a (click)='alertaImplementacaoFutura()'>Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 event-item  d-flex justify-content-between mt-2">
          <div class="col-md-4 m-0 p-0  d-flex justify-content-center">
            <img src="https://i.imgur.com/ipJmavy.png" alt="">
          </div>
          <div class="col-md-8  m-0 p-0 mt-2 ">
            <h6 class="">Inteligência Artificial</h6>
            <i class="fas fa-suitcase mr-2"></i>
            <span class="">Pedro Nunes</span>
            <div class="col-md-12 d-flex justify-content-end ">
              <a (click)='alertaImplementacaoFutura()'>Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row nav-right-box">
        <div class="col-md-12 ">
          <img src="https://i.imgur.com/H90LDsl.png" alt="">
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-12 ">
          <h5>Nossos mentores</h5>
        </div>
        <div class="caixa-online">
          <div class="col-md-12 mentores-online d-flex mb-2" *ngFor='let item of listaUsuarios | orderBy : key : reverse'>
            <div class="col-md-3  d-flex justify-content-center position-relative" *ngIf='item.tipo =="mentor" '>
              <img src="{{item.foto}}" alt="">
              <div class="perfil-online position-absolute"></div>
            </div>
            <div class="col-md-9 ml-2 d-flex justify-content-center flex-column" *ngIf='item.tipo =="mentor"'>
              <div class="row">
                <h6 class="m-0">{{item.nome}}</h6>
              </div>
              <div class="row ">
                <small>{{item.ocupacaoProfissonal}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                     FIM DA NAV DA LATERAL DIREITA                       -->
    <!-- ----------------------------------------------------------------------- -->

  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                  MODAL                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
              placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" cols=""
              rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Link da Live:</label>
            <textarea [(ngModel)]='postagem.liveLink' class="form-control" name="liveLink" id="liveLink" cols=""
              rows="3"></textarea>
          </div>


          <div class="form-group">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
            </label>
            <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema'>
              <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                              FIM DO MODAL                               -->
  <!-- ----------------------------------------------------------------------- -->
</div>


<!-- <div class="container-fluid banner">
  <div class="row caixa-busca d-flex align-items-center justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center mb-3">Explore novos caminhos</h2>
      <div class="input-busca">
        <input type="text" class="form-control"
        placeholder="Exprore caminhos" [(ngModel)]='tituloPost'
         (keyup)='findByTituloPostagem()'>
        <i (click)='findByTitulo()'class="fas fa-search"></i>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <small class="mb-3">Sugestões: Tecnologia, Construção Civil, Saúde, Música</small>
        </div>
      </div>
      <div class="row d-flex justify-content-center ">
        <div class="col-md-8  d-flex justify-content-center">
          <button *ngIf="verificacaoPerfil" class="btn btn-outline-dark button" data-toggle="modal" data-target="#novaPostagem">Nova
            Mentoria</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">

      <a class="nav-link active font-weight-bold txt-cor" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
        Postagens</a>

      <a (click)='findByIdUsuario()' class="nav-link font-weight-bold txt-cor" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="minhasPostagens"
        aria-selected="false">Minhas Postagens</a>

      <a class="nav-link font-weight-bold txt-cor" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema"
        role="tab" aria-controls="postagemTema" aria-selected="false">Postagens por Tema</a>

    </div>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

      <div class="row row-cols-12 row-cols-md-4 mt-5 d-flex justify-content-center">
        <div class="card card-component mt-4 mr-4" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-head">
            <img src="{{item.liveLink}}" alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="text-center descricao">{{item.tema.descricao}}</p>
            <p class="card-text text-center">{{item.descricao}}</p>
          </div>
        <div class="card-footer">
            <h6 class="card-subtitle text-center  text-muted">Por:{{item.usuario.nome}}</h6>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">




      <div class="card-columns">
        <div class="card" style="width: 18rem;" *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="">{{item.tema.descricao}}</p>

            <div class="card-head">
              <img src="{{item.liveLink}}" alt="">
            </div>
            <p class="card-text">{{item.descricao}}</p>
            <button [routerLink]="['/postagem-edit', item.id]" type="button"
              class="btn btn-outline-success mr-3">Editar</button>
            <button [routerLink]="['/postagem-delete', item.id]" type="button"
              class="btn btn-outline-danger">Apagar</button>

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="postagemTema-tab">

  <div class="input-busca">
    <input type="text" class="form-control"
    placeholder="Digite um Tema" [(ngModel)]='nomeTema'
    (keyup)='findByNomeTema()'>
    <i (click)='findByTitulo()'class="fas fa-search"></i>
  </div>


      <div class="card-columns " *ngFor='let tema of listaTemas'>
        <div class="card" style="width: 18rem;" *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.tema.descricao}}</h6>
            <p class="card-text">{{item.descricao}}</p>
        </div>
      </div>
    </div>
    </div>



<div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" cols=""
            rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Link da Live:</label>
          <textarea [(ngModel)]='postagem.liveLink' class="form-control" name="liveLink" id="liveLink" cols=""
            rows="3"></textarea>
        </div>


        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div> -->
